.content{
    position: fixed;
    top: 10%;
    left: 15%;
    min-height: 90%;
    padding: 3% ;
    background-color: #f7f9e0;
}

#welcome{
    font-weight: 800;
    font-size: 350%;
    margin-bottom: 5%;
}

p{
    font-size: x-large;
    margin-bottom: 2%;
}