<div class="content">
    <p id="welcome">Bienvenido!!!</p>
    <p>
        En nuestro blog de viajes vas a encontrar todo los tips necesarios
        para recorrer los destinos más interesantes de todos los países
        del mundo!
    </p>
    <p>
        Podés explorar todos los destinos desde el menú, empezando por 
        cada continente. O si estás interesado en un destino en particular 
        podés escribirlo en el buscador directamente.
    </p>
    <p>
        No olvides que también podés contactarnos para solicitar un
        presupuesto detallado para que armemos un viaje a tu medida.
    </p>
</div>