#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 15%;
    width: 85%;
    height: 10%;
    color: antiquewhite;
    background-color: #757851;
}

#navbar p {
    font-size: larger;
    padding: 0% 3%;
}

#navbar p:hover{
    font-weight: 600;
}